# Random Forests

In [1]:
# Initial imports
import pandas as pd
from pathlib import Path
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
%matplotlib inline

import pydotplus
from IPython.display import Image

In [2]:
# Import csv file with tweets for elon musk
file_name='final_data_frame.csv'
file_path=Path(f"../Resources/{file_name}")
tweets_df = pd.read_csv(file_path, parse_dates=True, infer_datetime_format=True)

In [3]:
tweets_df

,Unnamed: 0,TSLA,QQQ,Y_d1_pr_change_diff,Y_d5_pr_change_diff,earnings flag,tweet,tweet count,number likes,number replies,...,compound,positive,negative,neutral,Sentiment,key word 1,key word 2,key word 3,key word 4,tweet flag
0,2010-06-29,4.778000,39.031284,NaN,NaN,0.0,NaN,0.0,0.0,0.0,...,0.0000,0.000,0.00,0.000,0.0,NaN,NaN,NaN,NaN,0
1,2010-06-30,4.766000,38.437302,0.012707,NaN,0.0,NaN,0.0,0.0,0.0,...,0.0000,0.000,0.00,0.000,0.0,NaN,NaN,NaN,NaN,0
2,2010-07-01,4.392000,38.329292,-0.075662,NaN,0.0,NaN,0.0,0.0,0.0,...,0.0000,0.000,0.00,0.000,0.0,NaN,NaN,NaN,NaN,0
3,2010-07-02,3.840000,38.221321,-0.122866,NaN,0.0,NaN,0.0,0.0,0.0,...,0.0000,0.000,0.00,0.000,0.0,NaN,NaN,NaN,NaN,0
4,2010-07-06,3.222000,38.338306,-0.163998,NaN,0.0,NaN,0.0,0.0,0.0,...,0.0000,0.000,0.00,0.000,0.0,NaN,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2654,2021-01-13,854.409973,316.040009,-0.000902,0.102563,0.0,@NASASpaceflight Sea shanty tiktok takes it to...,11.0,1734427.0,40100.0,...,0.5226,0.141,0.09,0.769,0.0,NaN,NaN,NaN,NaN,1
2655,2021-01-14,845.000000,314.350006,-0.005666,0.037489,0.0,"@skorusARK Prototypes are easy, volume product...",7.0,559632.0,14544.0,...,0.9357,0.336,0.12,0.545,0.0,NaN,NaN,NaN,NaN,1
2656,2021-01-15,826.159973,311.859985,-0.014375,-0.038729,0.0,@SuperclusterHQ @w00ki33 Fallout New Texas @Br...,11.0,169339.0,9381.0,...,0.9429,0.182,0.00,0.818,0.0,NaN,NaN,NaN,NaN,1
2657,2021-01-19,844.549988,316.410004,0.007670,0.034796,0.0,@kellyreid The rate-limiting part or process ...,18.0,453510.0,14856.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
2658,2021-01-20,850.450012,323.769989,-0.016275,-0.030188,0.0,NaN,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [ ]:
# Define features set
X = tweets_df.copy()
X.drop("col", axis=1, inplace=True)
X.head()

In [ ]:
# Define target vector
#y = tweets_df["col"].values.reshape(-1, 1)
y = tweets_df["col"].ravel()

In [ ]:
# Splitting into Train and Test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [ ]:
# only `X_train` and `X_testing` DataFrames should be scaled
# Creating StandardScaler instance
scaler = StandardScaler()

In [ ]:
# Fitting Standard Scaler
X_scaler = scaler.fit(X_train)

In [ ]:
# Scaling data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Fitting the Random Forest Model

In [5]:
# Create a random forest instance and train it with the training data (`X_train_scaled` and `y_train`), define `n_estimators=500 (?)` and `random_state=72 (?)`.
# Create a random forest classifier
rf_model = RandomForestClassifier(n_estimators=500, random_state=78)

In [ ]:
# Fitting the model
rf_model = rf_model.fit(X_train_scaled, y_train)

## Making Predictions Using the Random Forest Model

In [ ]:
# Validate the trained model, by predicting loan defaults using the testing data (`X_test_scaled`).
# Making predictions using the testing data
predictions = rf_model.predict(X_test_scaled)

## Model Evaluation

In [ ]:
# confusion matrix, the accuracy score and the classification report
# Calculating the confusion matrix
cm = confusion_matrix(y_test, predictions)
cm_df = pd.DataFrame(
    cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"]
)

# Calculating the accuracy score
acc_score = accuracy_score(y_test, predictions)

In [ ]:
# Displaying results
print("Confusion Matrix")
display(cm_df)
print(f"Accuracy Score : {acc_score}")
print("Classification Report")
print(classification_report(y_test, predictions))

## Feature Importance

In [ ]:
# Random Forests in sklearn will automatically calculate feature importance
importances = rf_model.feature_importances_

In [ ]:
# We can sort the features by their importance
sorted(zip(rf_model.feature_importances_, X.columns), reverse=True)

In [ ]:
# Visualize the features by importance
importances_df = pd.DataFrame(sorted(zip(rf_model.feature_importances_, X.columns), reverse=True))
importances_df.set_index(importances_df[1], inplace=True)
importances_df.drop(columns=1, inplace=True)
importances_df.rename(columns={0: 'Feature Importances'}, inplace=True)
importances_sorted = importances_df.sort_values(by='Feature Importances')
importances_sorted.plot(kind='barh', color='lightgreen', title= 'Features Importances', legend=False)